h1
{
    font-size: 5rem;
    color:  rgb(81, 55, 55);
}
p
{
    color: rgb(89, 84, 84);
    font-size: 3rem;
}
body
{
    text-align: center;
    background-color:hsla(89, 43%, 51%, 0.3);  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.qoute-container
{

    background-color: rgb(127, 129, 128);
    color: #fff;
    border-radius: 1rem;
    /* display: none; */
}

@media screen and (max-width :720px) {

    .qoute-container
    {
        width: 70%;
        font-size: 0.7rem;
    }
    h1
    {
        font-size:2rem;
    }
    p
    {
        font-size: 1rem;
    }
}